<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="com.automation.Generic.Listener"/>
	</listeners>
	<test  name="RegisterTest">
		<classes>
			<class name="com.automation.Test.RegisterTest" />
		</classes>
	</test> <!-- Test -->
	<test name="LoginTest">
		<classes>
			<class name="com.automation.Test.LoginTest" />
		</classes>
	</test> <!-- Test -->
	<test name="SearchFlightTest">
		<classes>
			<class name="com.automation.Test.SearchFlightTest" />
		</classes>
	</test> <!-- Test -->
	<test name="BookTest">
		<classes>
			<class name="com.automation.Test.BookingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->